.main{
    flex:1;
    .logo{
        padding: .4rem 0;
        text-align: center;
        img{
            width: 1.8rem;
            height: 1.8rem;
        }
    }
    form{
        padding: 0 .32rem;
        opacity: 0.6;
        input{
            width: 100%;
            height: .9rem;
            border: 0;
            border-bottom: .02rem solid gray;
        }
        span{
            position: absolute;
            top: 4.6rem;
            right: .3rem;
        }
        button{
            border: 0;
            background: white;
            height: .88rem;
            position: absolute;
            top: 5.39rem;
            right: .3rem;
            color: #a4a4a4;
        }
        .login{
            border: 0;
            background: #4bb13f;
            color: white;
            border-radius: .2rem;
            margin: .2rem 0;
        }
    }
}